.example {
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
}

.fixed-height {
    height: 200px;
}

.percentage-height {
    height: 50%;
}

.viewport-height {
    height: 50vh;
}

.min-max-height {
    height: 80vh;
    min-height: 100px;
    max-height: 300px;
}

.p {
    margin: 5px;
    font-size: 16px;
}