<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="navigation">
    <nav class="main-nav">
        <ul>
            <li>
                <a th:href="@{/}">Home</a>
            </li>
            <li th:unless="${@loggedUserHelperService.isLogged()}">
                <a th:href="@{/users/login}">Login</a>
            </li>
            <li th:unless="${@loggedUserHelperService.isLogged()}">
                <a th:href="@{/users/register}">Register</a>
            </li>
            <li>
                <a th:href="@{/about}">About</a>
            </li>
            <li th:if="${@loggedUserHelperService.isLogged()}">
                <a th:href="@{/artists/add}">Add new artist</a>
            </li>
            <li th:if="${@loggedUserHelperService.isLogged()}">
                <a th:href="@{/users/profile}">Profile</a>
            </li>
            <li th:if="${@loggedUserHelperService.isLogged() and @loggedUserHelperService.isAdmin()}">
                <a href="/static">Admin</a>
            </li>
            <li th:if="${@loggedUserHelperService.isLogged()}">
                <!--                    if we use PosMapping in UserController-->
                <!--                    <form th:action="@{/users/logout}" th:method="POST">-->
                <!--                        <input class="mybtn" type="submit" value="Logout" />-->
                <!--                    </form>-->

<!--                <li th:if="${@loggedUserHelperService.isLogged()}">-->
            <form th:action="@{/users/logout}" th:method="POST">
                <input class="mybtn" type="submit" value="Logout" />
            </form>
                <!--                <a th:href="@{/users/logout}">Logout</a>-->
            </li>
            <!--                <li>-->
            <!--                    <th:block th:text="${@loggedUser.username} == null ? 'no user'-->
            <!--                    : ${'username: ' + @loggedUser.username}"></th:block>-->
            <!--                </li>-->
        </ul>
    </nav>
</header>
</body>
