.flex-container {
    width: 400px;
    height: 200px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .flex-container .flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
  }

  .flex-container.align-content-flex-start {
    align-content: start;
  }

  .flex-container.align-content-flex-center {
    align-content: center;
  }

  .flex-container.align-content-flex-end {
    align-content: end;
  }

  .flex-container.align-content-space-between {
    align-content: space-between;
  }

  .flex-container.align-content-space-around {
    align-content: space-around;
  }