<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

</head>

<body>

<div>
    <div th:replace="~{fragments/navigation}"></div>
</div>

<div class="container-fluid">
    <h5 class="text-center text-white mt-5">Upps, that thingy that you are looking for is no longer here!</h5>
    <h5 class="text-center text-white mt-5">We are very sorry.</h5>
    <img th:src="@{/images/error-picture.jpg}" alt="Error picture">
    <br/>
    <a th:href="@{/}">Go to home page...</a>
</div>

<div>
    <footer></footer>
</div>

<!--</body>-->
<!--<div th:replace="~{fragments/footer}"></div>-->
<!--</html>-->

<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->

<!--<h1>Hello, this my <em>GLOBAL</em> custom object not found page!</h1>-->
<!--The object that was not found has id <th:block th:text="${id}">ID</th:block>.-->

<!--</body>-->
<!--</html>-->