.flex-container {
    border: 2px solid blue;
    padding: 2em;
    display: flex;
}

.flex-item {
    padding: 1rem;
    border: 2px solid black;
    background-color: #eee;
}

.flex-container.flex-direction-row {
    flex-direction: row;
}

.flex-container.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-container.flex-direction-column {
    flex-direction: column;
}

.flex-container.flex-direction-column-reverse {
    flex-direction: column-reverse;
}