<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean-->
<!--        id="inMemoryUserRepository"-->
<!--        class="org.softuni.repository.InMemoryUserRepository"/>-->

    <bean id="userService"
          autowire="constructor"
          class="org.softuni.service.UserServiceImpl"/>

    <bean
        id="fileBasedUserRepository"
        class="org.softuni.repository.FileBasedUserRepository"/>
</beans>