.flex-container {
    border: 2px solid blue;
    padding: 2em;
    display: flex;
}

.flex-item {
    padding: 1rem;
    border: 2px solid black;
    background-color: #eee;
}

.flex-container.justify-content-start {
    justify-content: start;
}

.flex-container.justify-content-center {
    justify-content: center;
}

.flex-container.justify-content-end {
    justify-content: end;
}

.flex-container.justify-content-space-between {
    justify-content: space-between;
}

.flex-container.justify-content-space-around {
    justify-content: space-around;
}

.flex-container.justify-content-space-evenly {
    justify-content: space-evenly;
}