* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}


body {
    border: 2px solid green;
    padding: 2em;
}

.site {
    border: 2px solid blue;
    padding: 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.site > * {
    border: 2px solid black;
    padding: 2em;
}

.site > * + * {
    margin-top: 2em;
}

/* .site-header p {
    border: 2px solid black;
    margin: 1em;
    text-align: center;
    padding: 1em;
}

.site-main {
    border: 2px solid black;
    margin: 1em;
    text-align: center;
    padding: 1em;
}

.site-footer {
    border: 2px solid black;
    margin: 1em;
    padding: 1em;
    text-align: center;
} */