body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    color: steelblue;
    overflow: hidden;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-links li a:hover,
.nav-links li a:focus {
    background-color: aqua;
    color: tomato;
}
